.text {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;

    font-size: 20px;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
    background: blue;
    width: 4px;
    height: 20px;
    border-radius: 8px;
}

.pos {
    visibility: hidden;
}