body {
    margin: 0;
}

.text {
    background: var(--primary);
    
    position: absolute;
    top: 50%;
    height: 100px;
    overflow: hidden;

    font-size: 20px;

    font-family: Arial, Helvetica, sans-serif;

    width: calc(100% - 15px);

    padding: 5px;
    resize: none;
    opacity: 0;

    color: transparent;
    caret-color: transparent;
}

.text:focus {
    outline: 0;
}

.type-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    user-select: none;
    white-space: pre-wrap;
    overflow: hidden;
}

.blur-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.1s linear;
    background: blue;
    width: 4px;
    height: 20px;
    border-radius: 8px;
}

.typing {
    background: rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;

    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid black;

    width: calc(100% - 15px);
    height: 100px;

    padding: 5px;
}
